{% extends 'base.html.twig' %}
{% block title %} Library {% endblock %}
{% block body %}
{#    <div class="album py-5 bg-light">#}
{#        <div class="container">#}
{#            <h3>Collections {{ collections|length }}</h3>#}
{#            <div class="row">#}
{#                {{ include('collections/items.html.twig', { collections: collections}) }}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <div class="album py-5 bg-light">
        <div class="container">
            <h3>Files {{ files|length }}</h3>
            {{ include('files/items.html.twig', { files: files}) }}
        </div>
    </div>
{% endblock %}